/* NAVBAR CSS */

/* Slider Infinito */
.contenedor {
    display: flex;
    align-items: center;
    height: 3vh;
    overflow: hidden;
    background-color: black;
}

.scroll {
    white-space: nowrap;
    margin: 0 2em;
}

.scroll div {
    display: flex;
    gap: 4em;
}

.scroll p {
    font-size: 0.8em;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 0;
    line-height: 10px;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.RightToLeft {
    animation: RightToLeft infinite 50s linear;
}

@keyframes  RightToLeft {
    from {
    transform: translateX(0%);
    }
    to {
    transform: translateX(-50%);
    }
}

/* Categorias */

.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 3.5em;
    color: rgb(0, 0, 0);
    font: 1em;
    font-weight: 500;
    
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 4px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.centrarItems {
    display: flex;
    height: 64px;
    justify-content: center;
    align-items: center;
    padding-top: -1em;
}

@media screen and (max-width: 702px) {
    .nav-menu {
      font-size: .1em; /* Reducir el tamaño del texto para pantallas más pequeñas */
    }
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7em;
    cursor: pointer;
    padding: 0px;
    font-size: 1em;
    padding-bottom: .5em;
    padding-left: .6em;
    padding-right: .6em;
}

@media screen and (max-width: 702px) {
    .nav-menu li {
      font-size: 12px; /* Reducir el tamaño de fuente para pantallas más pequeñas */
    }
}

@media screen and (max-width: 760px) {
    .nav-menu li {
      font-size: 11px; /* Reducir el tamaño de fuente para pantallas más pequeñas */
    }
}

/* Busqueda */

#search-box{
    background-color: rgb(255, 255, 255);
    width: 100% ;
    border-radius: 10px ;
    height: 2.5rem ;
    padding: 0 15px ;
    box-shadow: 0px 0px 8px #ddd !important;
    display: flex;
    align-items: center;
}

.input{
    background-color: transparent;
    border-left: 5px #a2a2a2;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
}

.input:focus{
    outline: none;
}

.icon{
    width: 20px;
    cursor: pointer;
    margin-left: auto;
}

@media (min-width: 768px) {
    .icon {
        margin-left: -100px;
    }
}

@media (min-width: 1440px) {
    .icon {
        margin-left: 100px;
    }
}

@media (min-width: 2560px) {
    .icon {
        margin-left: 10px;
    }
}

/* Decoracion de Categorias */

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #7cc0d8;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}

/* Ordenamiento del logo */

#lg{
    padding: 5px 1px;
    border-radius: 50px;
    width: 75px; 
    height: auto; 
}

.align-top{
    align-items: center;
    vertical-align: none;
}

.alinearTexto{
    display: inline-block;
    vertical-align: left;
    margin-top: 20px;
    position: relative;
}

.alinearTexto::after {
    content: 'AR';
    color: #64b6d4;
    position: absolute;
    right: 0;
}

.pp{
    font-size: 2em;
}

/* Boton */

.button1 {
    background-color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: .30px;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 1.2em;
}

.button1:hover {
    background-color: rgba(239, 240, 241, 0.693);
}

.button1:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@media (min-width: 320px) {
    .padding-top-md {
        padding-top: 0.9em; 
    }
}

@media (min-width: 700px) {
    .padding-top-md {
        padding-top: 0; 
    }
}

@media (min-width: 715px) {
    .padding-top-md {
        padding-top: 0.9em; 
    }
}

@media (min-width: 320px) {
    .button1 {
        margin-left: 0.8em;
    }
}

@media (min-width: 320px) {
    .button1 {
        margin-right: 0.3em; 
        font-size: .7rem;
        line-height: 1.3rem;
        padding: .4rem 0.4rem;
    }
}

@media (min-width: 768px) {
    .button1 {
    font-size: .7rem;
    font-weight: 600;
    line-height: 1.4rem;
    padding: .4rem 0.4rem;
    cursor: pointer;
    margin-left: 0.4em;
    }
}

@media (min-width: 1440px) {
    .button1 {
    font-size: .875rem;
    font-weight: 600;
    line-height: 1rem;
    padding: .75rem 1rem;
    cursor: pointer;
    margin-left: 0.3em;
    }
}


/* Boton de Carrito */

.buttonCart {
    background-color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
    font-size: .5rem;
    line-height: 1rem;
    padding: .5rem .5rem;
    text-align: center;
    cursor: pointer;
    margin-left: 1.6em;
    border: 0;
    size-adjust: 5px;
}

.buttonCart:hover {
    background-color: rgba(239, 240, 241, 0.693);
}

@media (min-width: 320px) {
    .buttonCart {
    margin-left: 0.5em;
    }
}

@media (min-width: 768px) {
    .buttonCart {
    margin-left: 0.5em;
    }
}

@media (min-width: 1440px) {
    .buttonCart {
    margin-left: 1.2em;
    }
}

@media (min-width: 2560px) {
    .buttonCart {
    margin-left: 0.5em;
    }
}

.sizeCarrito{
    width: 1.6vw; 
    height: auto;
}

@media (min-width: 300px) {
    .sizeCarrito {
        width: 4vw; 
        height: auto;
    }
}

@media (min-width: 320px) {
    .sizeCarrito {
        width: 8.9vw; 
        height: auto;
    }
}

@media (min-width: 375px) {
    .sizeCarrito {
        width: 8vw; 
        height: auto;
    }
}

@media (min-width: 425px) {
    .sizeCarrito {
        width: 6vw; 
        height: auto;
    }
}

@media (min-width: 700px) {
    .sizeCarrito {
        width: 3.7vw; 
        height: auto;
    }
}

@media (min-width: 877px) {
    .sizeCarrito {
        width: 3.3vw; 
        height: auto;
    }
}

@media (min-width: 1400px) {
    .sizeCarrito {
        width: 1.6vw; 
        height: auto;
    }
}

/* Modifico el hr */

.hrEdit{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 0.3px;
    opacity: 0;
}

