/*CSS de Cuenta*/

.list-group-item.active {
    z-index: 2;
    color: var(--bs-list-group-active-color);
    background-color: #0cc0df;
    border-color: #0cc0df;
}

.colorTexto::after {
    content: 'HOLA';
    color: #0cc0df;
}


.me-modal-img {
    margin-right: 0rem;
}

.img-fluid {
    max-width: 70%;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Distribuye las cards en columnas automáticas con un mínimo de 300px */
    gap: 20px; 
    justify-items: center;
}

@media (min-width: 576px) {
    .col-sm-6 {
        flex: 0 0 auto;
        width: none; 
        max-width: 74%; 
    }
}
