.horizontal-card {
    max-width: 30rem;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.168);
  }
  
  .card-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
  }
  
  .img-square-wrapper {
    flex-shrink: 0;
    width: 10rem; 
    height: 10rem; 
    overflow: hidden;
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  .img-square-wrapper img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    border-radius: 0.9em;
    border: 0.1em solid rgba(0, 0, 0, 0.188);
  }

.botonStyle{
    margin-right: 0.1em;
    margin-left: 0.6em;
    width: 2.3em;
    height: auto;
}

.product-info {
  display: flex;
  align-items: center; 
}

.trash-icon {
  margin-left: 10em; 
}

.trash-icon:hover {
  stroke: red;
}

.trashStyle{
  margin-left: 10em;
}