/* CSS de cuentaBotones*/

.card-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

.img-square-wrapper {
    flex-shrink: 0;
    width: 20rem; 
    height: 20rem; 
    overflow: hidden;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.img-square-wrapper img {
    object-fit: contain;
    border-radius: 0.9em;
    border: 0.1em solid rgba(0, 0, 0, 0.188);
}
