/* CSS de modal*/

.card-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

.img-div {
    flex-shrink: 0;
    width: 15rem; 
    height: 18rem; 
    overflow: hidden;
    display: flex; 
    justify-content: center; 
    align-self: center; 
}

.img-div img {
    object-fit: contain;
    border-radius: 0.9em;
    border: 0.1em solid rgba(0, 0, 0, 0.188);
}

.centrar{
    text-align: center;
}

.colStyle{
    margin: 1em;
}


